PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/inventory_system?retryWrites=true&w=majority
JWT_SECRET=super_secure_jwt_secret_inventory_system_key_2025
CLIENT_URL=http://localhost:5173
NODE_ENV=development
